body{
    background: url('gamee.jpg');
    background-size: cover;
    height: 100dvh;
    text-align: center; 
}
.header{
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.btn{
    height: 100px;
    width: 100px;
    border-radius: 12px;
    border: 4px solid rgb(22, 14, 14);
}

.btn-container{
 display: flex;
justify-content: center;
align-items: center;
}

.red{
 background-color: red;
}
.green{
    background-color: rgb(21, 194, 21);
   }
.yellow{
    background-color: rgb(245, 245, 29);
}
.blue{
    background-color: blue;
}

.flash{
    background-color: white;
}

.userflash{
    background-color: rgb(122, 231, 233);
}
.bodyColor {
    background-image: none;
    background-color: red;
}

button{
    font-size: 1rem;
    margin-top: 5rem;
    border: 5px solid goldenrod;
    border-radius: 0.5rem;
    background-color: goldenrod;
    color: black;
    padding: 7px;
}
h2,h3{
    color: gold;
}

.okay_btn{
    display: none;
}